$vh: 7.5px;

.hero {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  z-index: 999;
}

.videoBG {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// .gradientBg {
//   background: rgb(85, 1, 61);
//   background: radial-gradient(
//     circle,
//     rgba(85, 1, 61, 1) 0%,
//     rgba(33, 1, 51, 1) 47%,
//     rgba(26, 26, 26, 1) 100%
//   );
// }

.content {
  display: flex;
  flex-direction: column;
  height: calc($vh * 100);
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 32.5rem;
  position: relative;
  z-index: 2;
  // color: #d3d3d3;
  color: #fff;
}

.outerBlob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, #172328);
  border-radius: 50%;
  opacity: 0.9;
  filter: blur(80px);
}

.topBlob {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 500px;
  height: 500px;
  background-color: #262b66;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(150px);
}

.topLeftBlob {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 500px;
  height: 500px;
  background-color: #1e2768;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(150px);
}

.innerBlob {
  position: absolute;
  top: -400px;
  left: 200px;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, #6d2a78 30%, #0a1215);
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .topBlob,
  .topLeftBlob {
    width: 350px;
    height: 350px;
  }

  .innerBlob {
    width: 650px;
    height: 650px;
    left: 100px;
  }
}

@media (max-width: 850px) {
  .topBlob,
  .topLeftBlob {
    width: 350px;
    height: 350px;
  }

  .innerBlob {
    width: 450px;
    height: 450px;
    top: -200px;
    left: 100px;
  }
}

@media (max-width: 600px) {
  .innerBlob {
    width: 350px;
    height: 350px;
    top: -100px;
    left: 0px;
  }
}

@media (max-width: 500px) {
  .innerBlob {
    width: 250px;
    height: 250px;
    top: -100px;
    left: 0px;
  }
}
