.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 600px;
    width: 75vw;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    .heading {
      text-align: left;
      margin: 0px;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.3em;
      letter-spacing: -2px;
    }
    .body {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin-top: 20px;
      gap: 50px;
      .description {
        width: 50%;
        position: relative;
        top: 0;
        span {
          display: flex;
          align-items: center;
          gap: 5px;
          a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
          ul {
            li:hover {
              transition: transform 0.3s all ease-in-out;

              .ico {
                transform: rotate(45deg);
              }
            }
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 40%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cardContainer {
    height: 120vh;
    .card {
      display: flex;
      flex-direction: column;
      height: 80vh;
      width: 90vw;
      .heading {
        text-align: center;
        margin: 0px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1em;
        letter-spacing: -2px;
      }
      .body {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 20px;
        gap: 15px;
        .description {
          width: 100%;
          p {
            display: none;
          }
        }
        .imageContainer {
          width: 100%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .cardContainer {
    .card {
      width: 85vw;
      .body {
        .description {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
